/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

h1, h2, h3, h4, h5 {
  font-family: "Merriweather", serif; }

h2 {
  font-size: 1.25em;
  line-height: 2em;
  margin: 1em 0 0 0; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

a {
  text-decoration: none;
  color: #2098d1; }

p {
  line-height: 1.5em; }

.visit:before {
  content: "";
  display: inline-block;
  margin: 3px 7px 0 0;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABpElEQVQ4T42TTVIbMRCFv5Yr5ewyN4j2VGxzAjsniH0C7A3gVcgJ4pwgeDXABnMCfIMMJ2CGFHsdAe+giNUpaTx2/ANBqylNv6d+n1rCG5ZNf3eQ+XeQDqgDmVL3P9xg/0H+p7dnxSnwdbtOc+r6+VUDmxYThIOFeIyaKUYT1E9APgDjFw3sxX2L+Z8uYEEyN2xMqi7s+V0X1WvQfKeBTW8txrRREozk7rBx82+Ekon/BTrbMrDnxQmqAViyEmlGXXsBWthbclFu1gzWM2uBygOirZhXuXLDZt+md31EL6O5mhXENbHwzR01A30WLE5577s81rpLMYzdcfMkdrB2VSoDarUc/3yNeddzh3t5rInR+FmeXHYTPmUFJPyQQaBt0yJDaIOGzMEgAWltihcGVXHZUjzt8jbh0UxLk2rpDJFRFa3aFXtWaAXEDT9lW9dlfIDo8PPcDffd5kSKTXOHyEdEeu6oMV0OS6Tt20gQ+6td4jLCctZDXtNHZYb4L0CMU3F56c1IzPskGUhzq2gB9bUHV15jNDEj0E6cfZUczGiTyS6jv3+Lxqn5JLzbAAAAAElFTkSuQmCC"); }

.download:before {
  content: "";
  display: inline-block;
  margin: 2px 7px 0 0;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T+2SURHCMBAF9znACTgAJ1RCHVAcIAGcgIPipA4eQ4d20vTIFIZP8nm5t0n2IoJl+wpss62bpF3erj+A3oHtFbBOfJyATeanBeqkdpfUjRJtn4F9JDWoXSRVz/pkCgshY3gGeD2ndJNJOAQUILPwW0AACcNFQAJhEBYJDr/ywkn0bb8B2G6AwycnA0dJzfATvwY8AChXRxEIzA8tAAAAAElFTkSuQmCC"); }

[href="#top"] {
  color: #fff;
  float: right; }
  [href="#top"]:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB/klEQVRYR82X4TUDQRSF761AVIAKUAEqQAWoQFRAOogKUIGoQFQgqUB0kFTwnLtm9qzNTnZmYsP8iXPs7P3efW/fvCESlpmdATgFsAugB+DAbZ8AmAOYARiRfIl9LdseNDOJ3QKQuERjlmBGAG5I6u/gWglgZncArhOE60ISH5IchAgaAcxMkb5WLI6JetUzStFJkxtLAGamvEo81u5YOLkhCMGU6weAi/yjA3EvKIi9qhMlQAe2h5yZkDz0/6wCqOBU7ZtYA5LSQwHgPrX3Dq1v+jqKVHiARwAXmwi9ovFE8tIDqDi2MgA+3Z6djL1zktt07fU54wVFBC6FuQ6eCyBncynuwTPfcy+AMYCjBAeqkRcOkFQQKubUYN4EoM60HwlQF39w+64yISYCsDXF/fYsiFiAUOR19mSImBTEiuc4MY0pQnWsmZmp4HzO27JWOOE6rA630CqKsK1yh27U0m/K6rvRTb+hVXyGGrVyGlEKTOjZ83Vb8ToQC5K9f3MYafzSSJ1zIOW4sFB9lMexa6N/N5BUDpSUtpwTufZMSfoLzfdEVAHoOhWl9V4zNJbrhPztepD48cqxvOaEIGJPybZ0TJ340jUt5mqmTpbrhqLW1ayYgJtWzOVUdaE2rI4ZCyJhXU77a11O68SubQvEX899imSx7NVXNCYp8aj1BSSb9+AHBghxAAAAAElFTkSuQmCC");
    background-size: cover; }
    @media (min-width: 800px) {
      [href="#top"]:before {
        width: 32px;
        height: 32px; } }
  [href="#top"]:hover {
    border: 0; }
    [href="#top"]:hover:before {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACSklEQVRYR81X23UTMRCdUQM4FWAqIFSQUAGhAljJ/4QKknTg/FsWVICpgKQCNhVgOjANaDhXkfY4znpXq7UP6Gc/VtK9c2c0D6YBa7FYXDDzO2aeEtGEiE7j8ZqINiKyZuaV1vp77rXct9E5N/XeXzHzRQTtO4L/ILNSSn2uqmrTdaCTgLX2mpk/DQDexdow87yqqpt9JFoJOOcmIvJjS+Icq7v21Mz8tk2NZwScc6cRHD4+5IIaIIF4adYTAtHyXyMk7yMMEq+2lWgIHEH2fWRqrfWb9LMhEAPuqs+EQ/wXkRtjzDXuCgTw1ETk5xGlb3sdwRWBwHK5/EJEHw5h3YA7vmqtPwYC1loEx4sBh8NWEfkdZGR+OfQskpXW+oSRXpVS3wouCBaMUdB7/54L5W/AE/HCe25B4I6IzgYo0IBba4MCxhjEUEks3bO1FmnydSaBJ+DM7GIsVIUkaiggY8DTWREpIpFLoNXyXeIlJHJckAVeooSIPPQGYSweawRc8nmfy5ISMcOiuO1b973PUETmSqk1vn3A2/+Z+dJ7P8W349ztmEQ0hE/r3pCIxqTiMQxE5I8xZvJ/FCM0I957tNSDC1KJCrBeKTVtynF0Azrgf9OQJCsGpuUS41HCH4wxaaB57IjSOrYrtqVPmK1tuff+7tDxEMHPO9vyHSVAIrdKdroDsiulAP5sTOsdzYjoslQNWE1E89QBt7HMGU4xps1FBJNx1jMFMKZkpOFRw+ku49g/YkpGGz9JLgpVjRny1oif2Wy2yn0ifwGkEWSCDqku0AAAAABJRU5ErkJggg=="); }

header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 0;
  max-height: 330px;
  position: relative;
  background-size: 150%;
  background-image: url("../images/workbackground2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 600px) {
    header {
      max-height: inherit; } }
  header:before {
    transition: opacity 1s ease-in-out;
    opacity: 1;
    content: "";
    display: block;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    body.ready header:before {
      opacity: 0; }
  header .profile-caption {
    margin: 0 auto 0 auto;
    width: 75%; }
  header .profile-container {
    position: relative;
    margin: 0 auto 0 auto;
    width: 25%; }
    @media (min-width: 600px) {
      header .profile-container {
        max-width: 250px; } }
    header .profile-container:after {
      content: '';
      display: block;
      padding-top: 100%; }
  header
.profile {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    header
.profile img {
      max-width: 100%;
      border-radius: 50%;
      transition: all 0.8s ease-in-out;
      transform: scale(0); }
      body.ready header
.profile img {
        transform: scale(1); }
    header
.profile:after {
      content: '';
      display: block;
      padding-top: 100%; }
  header h1 {
    font-size: 1.5em;
    color: #fff;
    text-align: center; }
  header h2 {
    font-size: 1em;
    color: #fff;
    text-align: center; }
    header h2 a {
      color: #fff; }
      header h2 a:hover {
        border-bottom: dotted 1px #fff; }

main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 4.16667%;
  padding-right: 4.16667%; }

.intro {
  background: #2098d1;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 4.16667%;
  padding-right: 4.16667%; }
  .intro a {
    color: white; }

.project {
  clear: both;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column-reverse; }
  .project:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 1000px) {
    .project {
      flex-direction: row; } }
  .project h1 {
    line-height: 1em; }

.project-text {
  width: 100%; }
  @media (min-width: 1000px) {
    .project-text {
      width: 50%; } }

.project-text-alternate {
  clear: both; }

.project-figure {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }
  .project-figure figcaption {
    line-height: 2.25em; }
  @media (min-width: 1000px) {
    .project-figure {
      width: 50%;
      margin-right: 6.25%; } }
  .project-figure img {
    max-width: 100%;
    border: solid 1px #E3E5E9;
    box-shadow: -4px 7px 26px -7px rgba(0, 0, 0, 0.75); }

footer {
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
  color: #fff;
  background: #222;
  padding-bottom: 1em; }
  footer a {
    color: inherit; }
    footer a:hover {
      border-bottom: dotted 1px #fff; }
