@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
	columns: 4,
	gutters: 1/2,
	gutter-position: inside,
	math: fluid,
	output: float,
	);

$font-body: 'Lato', sans-serif;
$font-header: 'Merriweather', serif;

body {
	@include container;
	font-family: $font-body;
	font-size:16px;
	line-height:24px;
}

h1, h2, h3, h4, h5 {
	font-family: $font-header;
}

h2 {
	font-size:1.25em;
	line-height:2em;
	margin:1em 0 0 0;

}

h3 {
	font-size:1.25em;
}

h4 {
	font-size:1em;
}

a {
	text-decoration: none;
	color:#2098d1;
}

p {
	line-height:1.5em;
}

.visit {
	&:before {
		content:"";
		display:inline-block;
		margin:0 7px 0 0;
		vertical-align: top;
		width: 16px;
		height: 16px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABpElEQVQ4T42TTVIbMRCFv5Yr5ewyN4j2VGxzAjsniH0C7A3gVcgJ4pwgeDXABnMCfIMMJ2CGFHsdAe+giNUpaTx2/ANBqylNv6d+n1rCG5ZNf3eQ+XeQDqgDmVL3P9xg/0H+p7dnxSnwdbtOc+r6+VUDmxYThIOFeIyaKUYT1E9APgDjFw3sxX2L+Z8uYEEyN2xMqi7s+V0X1WvQfKeBTW8txrRREozk7rBx82+Ekon/BTrbMrDnxQmqAViyEmlGXXsBWthbclFu1gzWM2uBygOirZhXuXLDZt+md31EL6O5mhXENbHwzR01A30WLE5577s81rpLMYzdcfMkdrB2VSoDarUc/3yNeddzh3t5rInR+FmeXHYTPmUFJPyQQaBt0yJDaIOGzMEgAWltihcGVXHZUjzt8jbh0UxLk2rpDJFRFa3aFXtWaAXEDT9lW9dlfIDo8PPcDffd5kSKTXOHyEdEeu6oMV0OS6Tt20gQ+6td4jLCctZDXtNHZYb4L0CMU3F56c1IzPskGUhzq2gB9bUHV15jNDEj0E6cfZUczGiTyS6jv3+Lxqn5JLzbAAAAAElFTkSuQmCC');

	}
}

.download {
	&:before {
		content:"";
		display:inline-block;
		margin:2px 7px 0 0;
		vertical-align: top;
		width: 16px;
		height: 16px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T+2SURHCMBAF9znACTgAJ1RCHVAcIAGcgIPipA4eQ4d20vTIFIZP8nm5t0n2IoJl+wpss62bpF3erj+A3oHtFbBOfJyATeanBeqkdpfUjRJtn4F9JDWoXSRVz/pkCgshY3gGeD2ndJNJOAQUILPwW0AACcNFQAJhEBYJDr/ywkn0bb8B2G6AwycnA0dJzfATvwY8AChXRxEIzA8tAAAAAElFTkSuQmCC');



	}

}

header {
	@include span(4);
	position:relative;
	overflow:hidden;
	height:40vh;
	background-size: 150%;
	
	@include breakpoint(800px) {
		max-height:auto;
		height:60vh;
		background-size: cover;	
	}

	@include breakpoint(1000px) {
		height:80vh;

	}



	background-image: url("../images/workbackground2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);


	.profile-container {
		position:relative;
		margin:10% auto 0 auto;
		width: span(1 of 4);

		@include breakpoint(800px) {
			max-width:330px;
		}
		

		&:after {
			content:'';
			display:block;
			padding-top:100%;

		}
	}


	.profile
	{
		position: absolute;
		border-radius: 50%;
		overflow:hidden;
		top:0;
		bottom:0;
		left:0;
		right:0;

		img {
			width:100%;
		}

		&:after {
			content:'';
			display:block;
			padding-top:100%;
		}
	}

	h1 {
		font-size: 1.5em;
		color:#fff;		
		text-align: center;
	}

	h2 {
		font-size: 1em;
		color:#fff;		
		text-align: center;

		a {
			color:#fff;			
		}

	}


}

main {
	@include span(4);	
}

.intro {
	background: #2098d1;
	color:#fff;
	@include span(4);

	a {
		color:white;
	}
}

.project {
	@include break;
	@include container;
	display:flex;
	flex-direction:column-reverse;
	@include breakpoint(1000px) {
		flex-direction:row;	
	}

	h1 {
		line-height:1em;
	}

	
}

.project-text {
	width: span(4);

	@include breakpoint(1000px) {
		width: span(2 of 4);
	}	
	
}

.project-text-alternate {
	@include break;
}

.project-figure {
	width: span(4);
	@include squish(0);

	figcaption {
		line-height:2.25em;
	}

	@include breakpoint(1000px) {
		width: span(2 of 4);
		@include post(0.25);

	}

	img {
		max-width:100%;
		border: solid 1px #E3E5E9;
		box-shadow: -4px 7px 26px -7px rgba(0,0,0,0.75);;

	}
}

footer {
	@include full;
	padding-bottom:10px;
	color:#fff;
	background:#222;

	h2 {
		line-height:1em;
	}
}

