@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
	columns: 4,
	gutters: 1/2,
	gutter-position: inside,
	math: fluid,
	output: float,
	);

$font-body: 'Lato', sans-serif;
$font-header: 'Merriweather', serif;

body {
	@include container;
	font-family: $font-body;
	font-size:16px;
	line-height:24px;
}

h1, h2, h3, h4, h5 {
	font-family: $font-header;
}

h2 {
	font-size:1.25em;
	line-height:2em;
	margin:1em 0 0 0;

}

h3 {
	font-size:1.25em;
}

h4 {
	font-size:1em;
}

a {
	text-decoration: none;
	color:#2098d1;

}

p {
	line-height:1.5em;
}

.visit {
	&:before {
		content:"";
		display:inline-block;
		margin:3px 7px 0 0;
		vertical-align: top;
		width: 16px;
		height: 16px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABpElEQVQ4T42TTVIbMRCFv5Yr5ewyN4j2VGxzAjsniH0C7A3gVcgJ4pwgeDXABnMCfIMMJ2CGFHsdAe+giNUpaTx2/ANBqylNv6d+n1rCG5ZNf3eQ+XeQDqgDmVL3P9xg/0H+p7dnxSnwdbtOc+r6+VUDmxYThIOFeIyaKUYT1E9APgDjFw3sxX2L+Z8uYEEyN2xMqi7s+V0X1WvQfKeBTW8txrRREozk7rBx82+Ekon/BTrbMrDnxQmqAViyEmlGXXsBWthbclFu1gzWM2uBygOirZhXuXLDZt+md31EL6O5mhXENbHwzR01A30WLE5577s81rpLMYzdcfMkdrB2VSoDarUc/3yNeddzh3t5rInR+FmeXHYTPmUFJPyQQaBt0yJDaIOGzMEgAWltihcGVXHZUjzt8jbh0UxLk2rpDJFRFa3aFXtWaAXEDT9lW9dlfIDo8PPcDffd5kSKTXOHyEdEeu6oMV0OS6Tt20gQ+6td4jLCctZDXtNHZYb4L0CMU3F56c1IzPskGUhzq2gB9bUHV15jNDEj0E6cfZUczGiTyS6jv3+Lxqn5JLzbAAAAAElFTkSuQmCC');

	}
}

.download {
	&:before {
		content:"";
		display:inline-block;
		margin:2px 7px 0 0;
		vertical-align: top;
		width: 16px;
		height: 16px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T+2SURHCMBAF9znACTgAJ1RCHVAcIAGcgIPipA4eQ4d20vTIFIZP8nm5t0n2IoJl+wpss62bpF3erj+A3oHtFbBOfJyATeanBeqkdpfUjRJtn4F9JDWoXSRVz/pkCgshY3gGeD2ndJNJOAQUILPwW0AACcNFQAJhEBYJDr/ywkn0bb8B2G6AwycnA0dJzfATvwY8AChXRxEIzA8tAAAAAElFTkSuQmCC');

	}

}

[href="#top"] {
	color:#fff;
	float:right;
	&:before {
		content:"";
		display:inline-block;
		vertical-align: top;
		width: 24px;
		height: 24px;
		@include breakpoint(800px) {
			width: 32px;
			height: 32px;

		}
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB/klEQVRYR82X4TUDQRSF761AVIAKUAEqQAWoQFRAOogKUIGoQFQgqUB0kFTwnLtm9qzNTnZmYsP8iXPs7P3efW/fvCESlpmdATgFsAugB+DAbZ8AmAOYARiRfIl9LdseNDOJ3QKQuERjlmBGAG5I6u/gWglgZncArhOE60ISH5IchAgaAcxMkb5WLI6JetUzStFJkxtLAGamvEo81u5YOLkhCMGU6weAi/yjA3EvKIi9qhMlQAe2h5yZkDz0/6wCqOBU7ZtYA5LSQwHgPrX3Dq1v+jqKVHiARwAXmwi9ovFE8tIDqDi2MgA+3Z6djL1zktt07fU54wVFBC6FuQ6eCyBncynuwTPfcy+AMYCjBAeqkRcOkFQQKubUYN4EoM60HwlQF39w+64yISYCsDXF/fYsiFiAUOR19mSImBTEiuc4MY0pQnWsmZmp4HzO27JWOOE6rA630CqKsK1yh27U0m/K6rvRTb+hVXyGGrVyGlEKTOjZ83Vb8ToQC5K9f3MYafzSSJ1zIOW4sFB9lMexa6N/N5BUDpSUtpwTufZMSfoLzfdEVAHoOhWl9V4zNJbrhPztepD48cqxvOaEIGJPybZ0TJ340jUt5mqmTpbrhqLW1ayYgJtWzOVUdaE2rI4ZCyJhXU77a11O68SubQvEX899imSx7NVXNCYp8aj1BSSb9+AHBghxAAAAAElFTkSuQmCC');
		background-size:cover;
	}

	&:hover {
		border:0;
		&:before {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACSklEQVRYR81X23UTMRCdUQM4FWAqIFSQUAGhAljJ/4QKknTg/FsWVICpgKQCNhVgOjANaDhXkfY4znpXq7UP6Gc/VtK9c2c0D6YBa7FYXDDzO2aeEtGEiE7j8ZqINiKyZuaV1vp77rXct9E5N/XeXzHzRQTtO4L/ILNSSn2uqmrTdaCTgLX2mpk/DQDexdow87yqqpt9JFoJOOcmIvJjS+Icq7v21Mz8tk2NZwScc6cRHD4+5IIaIIF4adYTAtHyXyMk7yMMEq+2lWgIHEH2fWRqrfWb9LMhEAPuqs+EQ/wXkRtjzDXuCgTw1ETk5xGlb3sdwRWBwHK5/EJEHw5h3YA7vmqtPwYC1loEx4sBh8NWEfkdZGR+OfQskpXW+oSRXpVS3wouCBaMUdB7/54L5W/AE/HCe25B4I6IzgYo0IBba4MCxhjEUEks3bO1FmnydSaBJ+DM7GIsVIUkaiggY8DTWREpIpFLoNXyXeIlJHJckAVeooSIPPQGYSweawRc8nmfy5ISMcOiuO1b973PUETmSqk1vn3A2/+Z+dJ7P8W349ztmEQ0hE/r3pCIxqTiMQxE5I8xZvJ/FCM0I957tNSDC1KJCrBeKTVtynF0Azrgf9OQJCsGpuUS41HCH4wxaaB57IjSOrYrtqVPmK1tuff+7tDxEMHPO9vyHSVAIrdKdroDsiulAP5sTOsdzYjoslQNWE1E89QBt7HMGU4xps1FBJNx1jMFMKZkpOFRw+ku49g/YkpGGz9JLgpVjRny1oif2Wy2yn0ifwGkEWSCDqku0AAAAABJRU5ErkJggg==');
		}
	}
}

header {
	@include span(4);
	position:relative;
	overflow:hidden;
	height:30vh;
	background-size: 150%;
	
	@include breakpoint(550px) {
		max-height:auto;
		height:40vh;
	}

	@include breakpoint(800px) {
		height:60vh;
		background-size: cover;

	}



	background-image: url("../images/workbackground2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);


	.profile-container {
		position:relative;
		margin:5vh auto 0 auto;
		width: span(1 of 4);

		@include breakpoint(800px) {
			margin:10vh auto 0 auto;
			max-width:330px;
		}
		

		&:after {
			content:'';
			display:block;
			padding-top:100%;

		}
	}


	.profile
	{
		position: absolute;
		border-radius: 50%;
		overflow:hidden;
		top:0;
		bottom:0;
		left:0;
		right:0;

		img {
			width:100%;
		}

		&:after {
			content:'';
			display:block;
			padding-top:100%;
		}
	}

	h1 {
		font-size: 1.5em;
		color:#fff;		
		text-align: center;
	}

	h2 {
		font-size: 1em;
		color:#fff;		
		text-align: center;

		a {
			color:#fff;			
			&:hover {
			border-bottom:dotted 1px #fff;
		}			
		}

	}


}

main {
	@include span(4);	
}

.intro {
	background: #2098d1;
	color:#fff;
	@include span(4);

	a {
		color:white;
	}
}

.project {
	@include break;
	@include container;
	margin-bottom:1em;
	display:flex;
	flex-direction:column-reverse;
	@include breakpoint(1000px) {
		flex-direction:row;	
	}

	h1 {
		line-height:1em;
	}

	
}

.project-text {
	width: span(4);

	@include breakpoint(1000px) {
		width: span(2 of 4);
	}	
	
}

.project-text-alternate {
	@include break;
}

.project-figure {
	width: span(4);
	@include squish(0);

	figcaption {
		line-height:2.25em;
	}

	@include breakpoint(1000px) {
		width: span(2 of 4);
		@include post(0.25);

	}

	img {
		max-width:100%;
		border: solid 1px #E3E5E9;
		box-shadow: -4px 7px 26px -7px rgba(0,0,0,0.75);;

	}
}

footer {
	@include full;
	color:#fff;
	background:#222;
	padding-bottom:1em;

	a {
		color:inherit;
			&:hover {
			border-bottom:dotted 1px #fff;
		}		
	}


}

